In [1]:
import pandas as pd
import re

In [2]:
customers = pd.read_csv('customers.csv')
invoice_items = pd.read_csv('invoice_items.csv')
invoice = pd.read_csv('invoice.csv')
#product_categories = pd.read_csv('product_categories.csv')
product_items = pd.read_csv('product_items.csv')
stores = pd.read_csv('stores.csv')

In [3]:
product_items['category_id'].replace({1:'Home',
                                      2:'Arms',
                                      3:'Books',
                                      4:'Industrial',
                                      5:'Grocery',
                                      6:'Computers',
                                      7:'Shoes',
                                      8:'Men Clothing',
                                      9:'Electronics',
                                      10:'Baby',
                                      11:'Toys',
                                      12:'Games',
                                      13:'Outdoors',
                                      14:'Woman Clothing',
                                      15:'Kids'}, inplace=True)

In [4]:
df = pd.merge(stores, invoice, on='store_id')
df.drop(columns=['customer_id', 'store_id', 'invoice_date'], inplace=True)
df = pd.merge(df, invoice, on='invoice_id')
df = pd.merge(df, invoice_items, on='invoice_id')
df = pd.merge(df, product_items, on='item_id')
df = pd.merge(df, customers, on='customer_id')

df[['invoice_date', 'invoice_hour']] = df.invoice_date.str.split(" ", expand=True)
#df.drop(columns=['invoice_date'], inplace=True)

In [5]:
df = df[['store_id', 'customer_id', 'item_id', 'invoice_id', 'invoice_line_id', 'store_name', 'store_location_lat', 'store_location_long',
         'customer_name', 'customer_lastname', 'customer_phone', 'customer_email', 'category_id', 'product_name', 'product_price',
         'quantity', 'invoice_date', 'invoice_hour']]

## Ventas por hora de la tienda seleccionada en un tiempo determinado

In [6]:
def find_sum(str1):
    return sum(map(int, re.findall('\d+', str1)))

fecha_inicio = '2021-01-25'
fecha_fin = '2021-01-25'
hora_inicio = '18:00:00'
hora_fin = '20:39:32'

df['invoice_date_sum'] = df['invoice_date'].apply(lambda x: sum(map(int, re.findall('\d+', x))))
df['invoice_hour_sum'] = df['invoice_hour'].apply(lambda x: sum(map(int, re.findall('\d+', x))))

df_time = df.loc[(df['invoice_date_sum']>=find_sum(fecha_inicio)) & (df['invoice_hour_sum']>=find_sum(hora_inicio)) & 
                 (df['invoice_date_sum']<=find_sum(fecha_fin)) & (df['invoice_hour_sum']<=find_sum(hora_fin))]

df_time = df_time.groupby(by='store_name').sum()
df_time.drop(columns=['store_id', 'customer_id', 'item_id', 'invoice_id', 'invoice_line_id',
                      'store_location_lat', 'store_location_long', 'invoice_date_sum', 'invoice_hour_sum'], inplace=True)
df_time

                         product_price  quantity
store_name
AC CONSEQUAT Store              172.72        36
AUGUE LUCTUS Store              195.95        25
CONGUE Store                    125.67         4
CURAE Store                     163.59        15
LIBERO Store                    172.85        31
MAECENAS Store                  152.91        12
NAM Store                       227.85        10
NULLA Store                     147.16        14
ORCI LUCTUS Store               207.37        15
PELLENTESQUE EGET Store         139.35        12
SAPIEN Store                     54.52         3
TRISTIQUE TORTOR Store           77.36         3
VESTIBULUM ANTE Store           176.37        14
VOLUTPAT QUAM Store             109.11         8

## Top 20 productos mÃ¡s vendidos en total y por tienda.

In [7]:
Productos_mas_vendidos = df.groupby(by='product_name').sum()
Productos_mas_vendidos = Productos_mas_vendidos.sort_values('quantity', ascending=False)
Productos_mas_vendidos.drop(columns=['store_id', 'customer_id', 'item_id', 'invoice_id', 'invoice_line_id',
                                     'store_location_lat', 'store_location_long'], inplace=True)
Productos_mas_vendidos

,product_price,quantity,invoice_date_sum,invoice_hour_sum
product_name,,,,
Cod - Black Whole Fillet,1682.32,210,69354,2327
Wine - Jackson Triggs Okonagan,866.13,180,104145,3721
"Shrimp - 16/20, Peeled Deviened",1384.50,160,50981,1773
Venison - Racks Frenched,2220.24,158,49061,1690
Lettuce - Red Leaf,1961.50,155,51079,1788
...,...,...,...,...
Fruit Mix - Light,449.25,43,30596,1038
Tequila - Sauza Silver,25.34,43,28566,1150
Piping - Bags Quizna,1163.24,39,26514,881
Grapes - Red,826.41,36,26569,779
Wine - Zinfandel Rosenblum,1064.52,32,24463,906

In [8]:
Productos_mas_vendidos_tienda = df.groupby(by=['store_name', 'product_name']).sum()
Productos_mas_vendidos_tienda = Productos_mas_vendidos_tienda.sort_values(['store_name', 'quantity'], ascending=False)
Productos_mas_vendidos_tienda.drop(columns=['store_id', 'customer_id', 'item_id', 'invoice_id', 'invoice_line_id',
                                     'store_location_lat', 'store_location_long'], inplace=True)
Productos_mas_vendidos_tienda

                                                    product_price  quantity  \
store_name          product_name
VOLUTPAT QUAM Store Lemonade - Mandarin, 591 Ml            205.36        13
                    Nut - Pistachio, Shelled               141.03        13
                    Wine - Jackson Triggs Okonagan           4.17        12
                    Ecolab Crystal Fusion                    8.72        11
                    Milk 2% 500 Ml                         181.78        10
...                                                           ...       ...
A Store             Swiss Chard - Red                       27.44         2
                    Chip - Potato Dill Pickle               85.85         1
                    Molasses - Fancy                        63.42         1
                    Pimento - Canned                         8.34         1
                    Wine - Penfolds Koonuga Hill            19.50         1

                                                    invoice_date_sum  \
store_name          product_name
VOLUTPAT QUAM Store Lemonade - Mandarin, 591 Ml                 8171
                    Nut - Pistachio, Shelled                    6129
                    Wine - Jackson Triggs Okonagan              6110
                    Ecolab Crystal Fusion                       8163
                    Milk 2% 500 Ml                              4100
...                                                              ...
A Store             Swiss Chard - Red                           2054
                    Chip - Potato Dill Pickle                   2047
                    Molasses - Fancy                            2045
                    Pimento - Canned                            2033
                    Wine - Penfolds Koonuga Hill                2037

                                                    invoice_hour_sum
store_name          product_name
VOLUTPAT QUAM Store Lemonade - Mandarin, 591 Ml                  380
                    Nut - Pistachio, Shelled                     240
                    Wine - Jackson Triggs Okonagan               205
                    Ecolab Crystal Fusion                        377
                    Milk 2% 500 Ml                               159
...                                                              ...
A Store             Swiss Chard - Red                             62
                    Chip - Potato Dill Pickle                    106
                    Molasses - Fancy                              25
                    Pimento - Canned                              49
                    Wine - Penfolds Koonuga Hill                  85

[972 rows x 4 columns]

### Todo: hacer plots de todas las tablas

## Preguntas adicionales

#### Imaginen esta BD transaccional que contiene los datos de 1000 tiendas para cubrir una poblaciÃ³n de 30millones de personas con toda su historia de ventas de 2 aÃ±os, Â¿QuÃ© sistema de almacenamiento recomendarÃ­an y que mÃ©todos de optimizaciÃ³n?

Como sistema de almacenamiento se podrÃ­a usar Hadoop con el fin de almacenar todos esos datos de las 1000 tiendas de manera distribuida y asÃ­ facilitar su consulta. Como mÃ©todo de optimizaciÃ³n se podrÃ­a usar el framework de Hive ya que permite agrupar, consultar y analizar datos mediante un sistema basado en queries de SQL llamado Hive QL y este mismo aplica un mapReduce.

#### Imaginen que tienen acceso a cualquier tecnologÃ­a âstate-of-the-artâ, y requieren crear un sistema analÃ­tico para poder obtener todo tipo de estudios de ciencia de datos con los datos de la BD, Â¿QuÃ© tecnologÃ­as recomendarÃ­an?, no solo para el almacenamiento de datos sino el procesamiento de mÃ¡quina y la visualizaciÃ³n que permita crear y compartir dashboards que puedan mostrar los KPIâs en tiempo real o interactivos.

#### Basado en los datos de la BD diseÃ±ada, Â¿QuÃ© mÃ©todo usarÃ­a para poder hacer un forecast de las ventas para cualquiera de las tiendas de algÃºn dÃ­a del futuro seleccionado?

#### En caso necesario de compartir un dashboard PBI a una audiencia de 700 personas, Â¿QuÃ© harÃ­a o recomendarÃ­a hacer?

#### Imagine que ademÃ¡s de tener la informaciÃ³n de ventas, tambiÃ©n tiene un identificador Ãºnico de cada cliente de cada tiquete de compra en su base de datos, Â¿QuÃ© tipo de estudio o anÃ¡lisis harÃ­a?